<ul ng-show="view.user.isFarmer">
  <li ng-click="toggle('account_home')" class="pointer">Home</li>
  <li ng-click="toggle('account_csa')" class="pointer">CSA</li>
  <li ng-click="toggle('account_settings')" class="pointer">Account Settings</li>
</ul>
<ul ng-show="!view.user.isFarmer">
  <li ng-click="toggle('account_home')" class="pointer">Home</li>
  <li ng-click="toggle('account_csa')" class="pointer">Manage Subscriptions</li>
  <li ng-click="toggle('account_settings')" class="pointer">Account Settings</li>
</ul>
