<div class="account-home">
  <div class="account-home-main">
    <h1>Send Customers a message!</h1>
    <h6>do message stuff</h6>

  </div>
  <!-- farm details => YOUR FARM -->
  <aside class="account-home-aside">
    <!-- TODO: link to edit form -->
    <h3>Your Farm <a href="">(edit)</a></h3>
    <h4>{{ user.farm.name }}</h4>
    <h6><img ng-src="../images/map_icon.svg" style="height: 1.2em;"> {{ user.farm.address }}</h6>
    <h6><img ng-src="../images/phone_icon.svg" style="height: 1.2em;"> {{ user.farm.contact_phone }}</h6>
    <h6><img ng-src="../images/mail_icon_black.svg" style="height: 1.2em;"> {{ user.farm.contact_email }}</h6>
  </aside>
</div>
