$font1: 'Pacifico', cursive;
$font3: 'Shadows Into Light Two', cursive;
$color1: rgba(240,135,8,1); // too orange, doesnt stick out
$color2: rgba(245,0,19,1); //
$green: rgba(156,39,176,1);
$font: 'Catamaran', sans-serif;


.curtain {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: url('../images/originals/market_flowers.JPG');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  // display: none;
}
.curtain-title {
  background: rgba(255,255,255,0.77);
  color: black;
  margin-top: 23vh;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font: {
    family: $font;
    size: 2em;
  }
  * {
    margin: 0;
    padding: 0;
  }
}
