// title begins to superimpose over nav-bar
@media (max-width: 1280px) {
  // .curtain {
  //   width: 100%;
  //   height: 100%;
  // }
}


// iPad Lanscape (<1024px)
@media (max-width: 1024px) {

}


// iPad Portrait (<768px)
@media (max-width: 768px) {
  // body {
  //   overflow-y: hidden;
  //   height: 100%;
  //   width: 100vw;
  // }
  // // .content {
  // // height: 0px;
  // // width: 100vw;
  // // }
  // .home {
  //   height: 0px;
  // }
  // .curtain a img {
  //   height: 250px;
  // }
}


@media (max-width: 420px) {
  body {
    width: 100vw !important;
    // * {
    //   margin: 0;
    //   padding: 0;
    //   width: 100vw;
    // }
  }
  .header {
    width: 100%;
    height: 245px;
    background: red;
    .header-title {
      .logo {
        opacity: 0.9;
      }
    }
    .header-row2 {
      padding-left: -110px;
      padding-right: -110px;
      width: 414px;
      display: inline-block;
      // flex-flow: row nowrap;
      // justify-content: space-around;
      .top-nav, .user-dropdown {
        // background: red;
      }
    }
  }
  .content {
    // display: none;
    background: yellow;
  }
  .curtain {
    width: 100%;
    height: 100%;
  }
  .curtain a img {
    height: 250px;
  }
  .footer {
    width: 414px;
  }
}




// @media (max-height: 720px) {
//   .content {
//     height: 100vh;
//     width: 100vw;
//   }
//   .curtain {
//     height: 100%;
//     width: 100%;
//   }
// }
