// title begins to superimpose over nav-bar
@media (max-width: 1280px) {
  // .header .header-title {
  //   top: 0;
  //   left: 29vw;
  // }
}

// iPad Lanscape (<1024px)
@media (max-width: 1024px) {
  // .header .header-title {
  //   left: 20vw;
  // }
  // .farm-search {
  //   padding-left: 0;
  //   justify-content: space-around;
  //   .zip-search, .more {
  //     position: static;
  //     flex-wrap: wrap;
  //   }
  // }
}
// iPad Portrait (<768px)
@media (max-width: 768px) {
  .curtain a img {
    height: 250px;
  }
}

@media (max-width: 420px) {
  .curtain {
    width: 100%;
    height: 100%;
  }
  .curtain a img {
    height: 250px;
  }
}
