@media (max-width: 420px) {
  body {
    width: 100vw !important;
  }
  .header {
    width: 100vw;
    height: 95px;
    .header-title {
      .logo, .logo-link {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 75px;
        height: 75px;
      }
      .logo {
        // border: 1px solid black;
      }
    }
    .header-row2 {
      display: none;
    }
    .header-row2-mobile {
      position: absolute;
      top: 20px;
      right: 25px;
      img {
        height: 60px;
      }
    }
  }
  .content {
    background: yellow;
    width: 100vw;
  }
  .curtain {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
  .curtain a img {
    height: 250px;
  }
  .footer {
    width: 100vw;
  }
  .home {
    display: none;
    aside {
      button {
        width: 350px;
      }
    }
  }
  .home-box {
    height: 350px;
  }
}
