@media (max-width: 420px) {
  .mobile-responsive {
    display: inherit;
  }
  body {
    width: 100vw !important;
  }
  .header {
    width: 100vw;
    height: 95px;
    .header-title {
      .logo, .logo-link {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 75px;
        height: 75px;
      }
      .logo {
        // border: 1px solid black;
      }
    }
    .header-row2 {
      display: none;
    }
    .header-row2-mobile {
      position: absolute;
      top: 20px;
      right: 25px;
      img {
        height: 60px;
      }
    }
  }
  .content {
    height: calc(100vh - 95px);
    // height: 0%;
    width: 100vw;
  }
  .curtain {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
  .curtain a img {
    height: 250px;
  }
  .footer {
    width: 100vw;
  }
  .home {
    padding-bottom: 150px;
    height: 100%;
    overflow-y: scroll;
    background-attachment: fixed;
    aside {
      display: none;
    }
  }
  .home-boxes {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    .mobile-responsive {
      margin-bottom: 100px;
      width: 300px;
      height: 75px;
      .placeholder {
        border: none;
        box-shadow: none;
      }
      button {
        height: 100%;
        width: 100%;
        background: white;
        font-size: 2em;
      }
    }
  }
  .home-box {
    margin-bottom: 25px;
  }
  .close {
    position: absolute;
    z-index: 998;
    width: 100vw;
    height: 736px;
  }
  .user-nav-mobile {
    z-index: 999;
    display: flex;
    flex-flow: column;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 190px;
    height: 100vh;
    box-shadow: 0px 5px 12px grey;
    background: rgba(255,255,255,0.94);
    font-size: 1.5em;
    img {
      display: flex;
      align-self: flex-start;
      margin: 0;
      margin-bottom: 5px;
      padding: 0;
      height: 40px;
    }
    p, a {
      padding: 5px;
      margin: 0;
    }
  }
}
