// Variables
$primary: rgba(41,185,11,1);
$secondary: rgba(12,0,254,1);
$tertiary: rgba(134,54,8,1);
$font3: 'Shadows Into Light Two', cursive;
$color1: rgba(240,135,8,1); // something brigher maybe?
$testBorder: 1px solid black;

::-webkit-scrollbar {
    display: none;
}
.pointer {
  cursor: pointer;
}
.shadow {
  box-shadow: 0px 0px 5px 0px black;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  font-variant: small-caps;
  font-family: Tahoma;
}
a, a * {
  text-decoration: none;
  color: inherit;
}
.header {
  height: 55px;
  width: 100vw;
  background: $primary;
  color: white;
  font-family: $font3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  a, p {
    padding: 10px;
  }
  .header-title {
    position: absolute;
    left: 44vw;
    font-size: 2em;
    color: rgba(255,255,255,0.87);
  }
  .signin, .signup {
    // border: none;
    border: 1px solid black;
    display: flex;
    color: black;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 1;
    input, button {
      margin: 0;
      padding: 0;
      z-index: 0;
      height: 40px;
      width: 175px;
      border: none;
      border-bottom: 1px solid grey;
    }
    input {
      padding: 5px;
    }
    button {
      width: 185px;
      margin-right: -5px;
      border: none;
      background: $color1;
      color: white;
      font-variant: small-caps;
    }
    .radio-option {
      width: 100%;
      display: flex;
      align-items: center;
      background: white;
      input {
        width: 10%;
        margin-left: 10px;
        margin-right: 5px;
      }
      label {
        width: 75%;
      }
    }
  }
  .signin-box .pointer:active {
    background: rgba(0,0,0,0.1);
  }
  .signin-box {
    font-size: 0.7em;
    display: flex;
    flex-flow: column nowrap;
    padding-right: 15px;
    * {
      margin: 0;
      padding: 0;
    }
  }
}
// partials/home
.home {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  .home-boxes {
    display: flex;
    flex-flow: row nowrap;
  }
  .home-box {
    margin: 15px;
    border: $testBorder;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .home-box-title {
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    img {
      padding-right: 10px;
      height: 3em;
    }
  }
  p {
    padding: 5px;
    text-align: center;
  }
  aside {
    display: flex;
    justify-content: center;
    button {
      height: 75px;
      width: 253px;
      background: $secondary;
      color: rgba(255,255,255,0.87);
      border: none;
      border-radius: 10px;
      font-variant: small-caps;
      font-size: 1.7em;
    }
  }
}

#map {
  opacity: 0.87;
  height: 30%;
  width: 100vw;
  margin-bottom: 25px;
  margin-top: 55px;
  box-shadow: 0px 0px 5px 0px black;
  z-index: 0;
}
.market-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 60%;
  overflow-x: scroll;
  .market {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
    box-shadow: 0px 0px 1px 0px grey;
    margin: 3px;
    overflow-x: scroll;
    .market-details {
      padding: 5px;
      font-size: 0.8em;
    }
  }
}
.csa {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .csa-title {
    width: 100%;
  }
}
.csa-form {
  width: 40%;
}
.csa-description {
  width: 40%;
}
.content {
  display: flex;
  justify-content: center;
}

// partials/farm/:id
.farm {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  .farm-title {
    width: 100%;
    text-align: center;
  }
  .farm-description, .farm-details {
    width: 45%;
    .farm-phone, .farm-email, .farm-address {
      display: flex;
      align-items: center;
      img {
        padding-right: 5px;
      }
    }
  }
}

// account page
.account {
  width: 100%;
  background: lightblue;
}
.account-body {
  display: flex;
  justify-content: center;
}
.row {
  border-bottom: 1px solid grey;
}
ft-account-nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.3em;
      color: grey;
    }
  }
}
ft-account-home {
  width: 90%;
  .account-home {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }
}
ft-account-csa {
  margin-top: 25px;
  width: 90%;
  display: flex;
  flex-flow: column;
  .row1 {
    display: flex;
    flex-flow: row nowrap;
    .csa-metrics {
      width: 30%;
      img {
        width: 100%;
      }
    }
    .csa-details {
      margin: 0 auto;
    }
  }
}

// user-nav
.user-nav {
  z-index: 1;
  background: $primary;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 3px;
}
