// Variables
$primary: rgba(63,81,181,1);
$accent: rgba(255,193,7,1);
$testBorder: 1px solid black;
$font: 'Catamaran', sans-serif;

::-webkit-scrollbar {
    display: none;
}
.mobile-responsive {
  display: none;
}
.pointer {
  cursor: pointer;
}
.shadow {
  box-shadow: 0px 0px 5px black;
}
.message {
  text-align: center;
}
.success {
  color: green;
}
.error {
  color: red;
}
button {
  font-weight: 900;
  background: $primary;
  color: $accent;
  border: none;
  border-radius: 3px;
  font-variant: small-caps;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  height: 92vh;
  overflow-x: hidden;
  font-variant: small-caps;
  font-family: $font;
}
a, a * {
  text-decoration: none;
  color: inherit;
}
.header {
  margin: 0;
  padding: 0;
  height: 225px;
  width: 100vw;
  color: black;
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 3;
  font-size: 1em;
  a, p {
    padding: 10px;
  }
  .top-nav {
    font-size: 1em;
  }
  .header-title {
    margin: 0;
    padding: 0;
    font-size: 5em;
    color: $accent;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    .logo, .logo-link {
      width: 175px; // redundant for size of logo: set both so .logo-link spans whole logo
      height: 175px;
      position: absolute;
      top: 25px;
      z-index: 4;
    }
    a {
      text-align: center;
    }
  }
  .header-row2 {
    margin: 0;
    padding: 0;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  .user-dropdown {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    font-size: 1.5em;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .signin, .signup {
    border: 1px solid black;
    display: flex;
    color: black;
    flex-direction: column;
    position: absolute;
    right: 105px;
    top: 225px;
    z-index: 1;
    background: white;
    width: 210px;
    text-align: center;
    font-size: 1.2em;
    input, button {
      margin: 0;
      padding: 0;
      z-index: 0;
      height: 40px;
      width: 200px;
      border: none;
      border-bottom: 1px solid grey;
    }
    input {
      padding: 5px;
    }
    button {
      width: 210px;
      border: none;
      border-radius: 0;
      font-variant: small-caps;
    }
    .radio-option {
      width: 210px;
      display: flex;
      align-items: center;
      background: white;
      input {
        width: 10%;
        margin-left: 10px;
        margin-right: 5px;
      }
      label {
        width: 75%;
      }
    }
  }
  .user-box .pointer:active {
    background: rgba(0,0,0,0.1);
  }
  .user-box {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    p {
      padding-left: 15px;
    }
  }
}
.content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
}
// partials/home
.headline-image {
  height: 250px;
  width: 100%;
}
.home {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  .headline-image {
    background: url('../images/originals/market_flowers.JPG');
    background-size: cover;
  }
  .home-boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  button {
    margin-bottom: 50px;
    height: 75px;
    width: 285px;
    font-size: 2.8em;
    font-family: $font;
    background: white;
    color: $accent;
  }
  .home-box {
    width: 250px;
    height: 250px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .home-box-title {
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    img {
      padding-right: 10px;
      height: 3em;
    }
  }
  p {
    padding: 5px;
    text-align: center;
  }
}
.home-icon {
  height: 1.5em;
}
.angular-google-map-container {
  display: block;
  opacity: 0.87;
  height: 250px;
  width: 100%;
  box-shadow: 0px 0px 5px 0px black;
  z-index: 0;
}
.market-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 60%;
  overflow-x: scroll;
  .market {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
    box-shadow: 0px 0px 1px 0px grey;
    margin: 3px;
    overflow-x: scroll;
    .market-details {
      padding: 5px;
      font-size: 0.8em;
    }
  }
}
.csa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .headline-image {
    background: url("../images/originals/market_greens.JPG");
    background-size: cover;
    background-position: center;
  }
  .csa-description {
    padding: 15px;
    text-align: justify;
    font-size: 0.9em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    h3 {
      width: 100%;
      font-weight: 900;
    }
    p {
      width: 30%;
    }
  }
  .csa-form {
    width: 40%;
  }
}

.farm-search {
  width: 100%;
  background: url('../images/originals/market_eggplant2.JPG');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 30px;
  .farm-search-header {
    width: 100%;
    height: 30px;
    background: rgba(255,255,255,0.65);
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  .wrap {
    margin-top: 25px;
    position: relative;
    width: 45%;
    min-width: 400px;
    height: 0%;
    .nearby-farm-main {
      padding: 0;
      margin: 0;
    }
    .nearby-farm {
      padding: 15px;
      margin: 15px;
      padding-top: 0;
      padding-bottom: 0;
      min-width: 400px;
      min-height: 120px;
      border: 1px solid black;
      border-radius: 3px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      background: rgba(255,255,255,0.95);
      * {
        padding: 0;
        margin: 0;
      }
      .nearby-farm-title {
        padding: 0;
        margin: 0;
        color: $accent;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
      }
      img {
        height: 75px;
        padding-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .nearby-farm-available {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        p:not(:first-child) {
          padding-left: 5px;
        }
      }
    }
  }
}
.wrap-fixed {
  margin-top: 25px;
  position: fixed;
  right: 45px;
  width: 45%;
  min-width: 400px;
  height: 0%;
  .nearby-farm-main {
    padding: 0;
    margin: 0;
  }
  .nearby-farm {
    padding: 15px;
    margin: 15px;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 400px;
    min-height: 120px;
    border: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.95);
    border-radius: 3px;
    * {
      padding: 0;
      margin: 0;
    }
    .nearby-farm-title {
      padding: 0;
      margin: 0;
      color: $accent;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2em;
    }
    img {
      height: 75px;
      padding-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nearby-farm-available {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      p:not(:first-child) {
        padding-left: 5px;
      }
    }
  }
  .zip-search {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 15px;
    padding: 5px;
    background: rgba(255,255,255,0.85);
    border-radius: 3px;
    ui-gmap-google-map {
      margin: 0;
      padding: 0;
      width: 95%;
      border-radius: 3px;
    }
    div {
      padding: 5px;
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: center;
      input {
        width: 20%;
      }
    }
  }
}
// partials/farm/:id
.farm-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  background: red;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .farm-title {
    margin-bottom: 0;
    background: rgba(255,255,255,0.9);
  }
}
.back-button {
  width: 100%;
  display: inline-block;
  color: $accent;
  margin: 15px;
  margin-left: 85px;
}
.farm-details, .farm-dynamic {
  background: rgba(255,255,255,0.95);
  border-radius: 3px;
  height: 0%;
}
.farm {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  .farm-dynamic {
    margin-left: 75px;
    padding: 5px;
    width: 20%;
    height: 0%;
    .farm-csa {
      display: flex;
      flex-flow: column nowrap;
      * {
        padding: 0;
        margin: 0;
      }
      .farm-csa-title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        button {
          height: 20px;
        }
        button, h3 {
          margin: 0;
          margin-top: 10px;
        }
      }
    }
  }
  .farm-details {
    margin-right: 75px;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    width: 20%;
    img:not(.icon) {
      width: 100%;
      box-shadow: 0px 0px 3px 0px black;
      border-radius: 3px;
    }
    h5 {
      margin: 0;
      padding: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
    }
    .icon {
      padding-left: 5px;
      padding-right: 10px;
      height: 15px;
      box-shadow: none;
    }
  }
  .follow-button {
    margin: 0 auto;
    margin-top: 10px;
    width: 150px;
  }
  .farm-description, .farm-details {
    width: 20%;
    .farm-phone, .farm-email, .farm-address {
      display: flex;
      align-items: center;
      img {
        padding-right: 5px;
      }
    }
  }
  button {
    width: 100px;
  }
}
.farm-title {
  color: $accent;
  text-align: center;
  font-family: $font;
  font-size: 3em;
  margin: 0;
  margin-bottom: 25px;
}
.farm-posts {
  width: 40%;
}
.post {
  position: relative;
  padding: 5px;
  margin-bottom: 15px;
  background: rgba(255,255,255,0.95);
  border-radius: 3px;
  .post-subject {
    color: $accent;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
  }
  .date {
    padding: 0;
    margin: 0;
    font-size: 0.75em;
  }
}
// account page
.account {
  width: 100%;
}
.account-body {
  display: flex;
  justify-content: center;
}
.row {
  border-bottom: 1px solid grey;
}
ft-account-nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.3em;
      color: grey;
    }
  }
}
ft-account-home {
  width: 90%;
  .account-home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .account-home-main {
      display: flex;
      flex-flow: column;
      textarea {
        height: 250px;
        width: 400px;
        margin-bottom: 25px;
      }
      button {
        margin-bottom: 100px;
      }
    }
    .account-home-aside {
      padding: 5px;
      height: 0%;
      h6 img {
        padding-right: 5px;
      }
      .account-img {
        width: 200px;
      }
    }
  }
}
ft-account-csa {
  margin-top: 25px;
  width: 90%;
  display: flex;
  flex-flow: column;
  .row1 {
    display: flex;
    flex-flow: row nowrap;
    .csa-metrics {
      width: 30%;
      img {
        width: 100%;
      }
    }
    .csa-details {
      margin: 0 auto;
    }
  }
}
.user-account-csa {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.user-csa {
  margin: 15px;
  padding: 5px;
}
// user-nav
.user-nav {
  z-index: 1;
  padding-top: 2px;
  padding-bottom: 3px;
  ft-user-nav {
    display: flex;
    flex-flow: column;
  }
  a {
    padding: 0;
  }
}
footer {
  position: fixed;
  background: rgba(255,255,255,0);
  bottom: 0;
  left: 0;
  padding-left: 15px;
}
// CONFIRM //
.confirm {
  height: 300px;
  width: 300px;
  background: black;
  color: white;
  z-index: 5;
}
