// Variables
$font3: 'Shadows Into Light Two', cursive;
$primary: rgba(63,81,181,1);
$accent: rgba(255,193,7,1);
$testBorder: 1px solid black;

::-webkit-scrollbar {
    display: none;
}
.pointer {
  cursor: pointer;
}
.shadow {
  box-shadow: 0px 0px 5px 0px black;
}
button {
  font-weight: 900;
  background: $primary;
  color: $accent;
  border: none;
  border-radius: 3px;
  font-variant: small-caps;
}
body {
  margin: 0;
  padding: 0;
  height: 92vh;
  overflow-x: hidden;
  font-variant: small-caps;
  font-family: Tahoma;
  margin-bottom: 300px;
}
a, a * {
  text-decoration: none;
  color: inherit;
}
.header {
  height: 185px;
  width: 100vw;
  color: black;
  font-family: $font3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  top: 0;
  left: 0;
  z-index: 3;
  a, p {
    padding: 10px;
  }
  .top-nav {
    font-size: 1.8em;
  }
  .header-title {
    position: absolute;
    display: flex;
    left: 32vw;
    font-size: 5em;
    color: $accent;
    a {
      text-align: center;
    }
  }
  .user-dropdown {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    font-size: 1.8em;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .signin, .signup {
    // border: none;
    border: 1px solid black;
    display: flex;
    color: black;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 185px;
    z-index: 1;
    background: white;
    width: 185px;
    text-align: center;
    font-size: 1.2em;
    input, button {
      margin: 0;
      padding: 0;
      z-index: 0;
      height: 40px;
      width: 200px;
      border: none;
      border-bottom: 1px solid grey;
    }
    input {
      padding: 5px;
    }
    button {
      width: 185px;
      margin-right: -5px;
      border: none;
      font-variant: small-caps;
    }
    .radio-option {
      width: 100%;
      display: flex;
      align-items: center;
      background: white;
      input {
        width: 10%;
        margin-left: 10px;
        margin-right: 5px;
      }
      label {
        width: 75%;
      }
    }
  }
  .signin-box .pointer:active {
    background: rgba(0,0,0,0.1);
  }
  .signin-box {
    font-size: 0.7em;
    display: flex;
    flex-flow: column nowrap;
    padding-right: 15px;
    * {
      margin: 0;
      padding: 0;
    }
  }
}
.content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
  min-width: 730px;
}

// partials/home
.home {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  .home-boxes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .home-box {
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .home-box-title {
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    img {
      padding-right: 10px;
      height: 3em;
    }
  }
  p {
    padding: 5px;
    text-align: center;
  }
  aside {
    display: flex;
    justify-content: center;
    button {
      height: 55px;
      width: 253px;
      font-size: 1.7em;
      font-family: $font3;
      margin-top: 25px;
    }
  }
}

#map {
  opacity: 0.87;
  height: 30%;
  width: 100vw;
  margin-bottom: 25px;
  // margin-top: 185px;
  box-shadow: 0px 0px 5px 0px black;
  z-index: 0;
}
.market-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 60%;
  overflow-x: scroll;
  .market {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
    box-shadow: 0px 0px 1px 0px grey;
    margin: 3px;
    overflow-x: scroll;
    .market-details {
      padding: 5px;
      font-size: 0.8em;
    }
  }
}
.csa {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .csa-title {
    width: 100%;
  }
}
.csa-form {
  width: 40%;
}
.csa-description {
  width: 40%;
}

// partials/farm/:id
.farm-container {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.back-button {
  width: 100%;
  display: inline-block;
  color: $accent;
}
.farm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  color: $accent;
  .farm-title {
    text-align: center;
    font-family: $font3;
    font-size: 3em;
    margin-bottom: 0;
  }
  .farm-dynamic {
    width: 50%;
    .farm-csa {
      .farm-csa-title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        button {
          height: 20px;
        }
        button, h3 {
          margin: 0;
          margin-top: 10px;
        }
      }
    }
  }
  .farm-details {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    img:not(.icon) {
      width: 100%;
      box-shadow: 0px 0px 3px 0px black;
      border-radius: 3px;
    }
    h5 {
      margin: 0;
      padding: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
    }
    .icon {
      padding-left: 5px;
      padding-right: 10px;
      height: 15px;
      box-shadow: none;
    }
  }
  .follow-button {
    margin: 0 auto;
    margin-top: 10px;
    width: 150px;
  }
  .farm-description, .farm-details {
    width: 45%;
    .farm-phone, .farm-email, .farm-address {
      display: flex;
      align-items: center;
      img {
        padding-right: 5px;
      }
    }
  }
  button {
    width: 100px;
  }
}

// account page
.account {
  width: 100%;
}
.account-body {
  display: flex;
  justify-content: center;
}
.row {
  border-bottom: 1px solid grey;
}
ft-account-nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.3em;
      color: grey;
    }
  }
}
ft-account-home {
  width: 90%;
  .account-home {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    .account-home-aside {
      h6 {
        display: flex;
        align-items: center;
        img {
          padding-right: 5px;
        }
      }
    }
  }
}
ft-account-csa {
  margin-top: 25px;
  width: 90%;
  display: flex;
  flex-flow: column;
  .row1 {
    display: flex;
    flex-flow: row nowrap;
    .csa-metrics {
      width: 30%;
      img {
        width: 100%;
      }
    }
    .csa-details {
      margin: 0 auto;
    }
  }
}
.user-account-csa {
  // background: red;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.user-csa {
  // background: blue;
  margin: 15px;
  padding: 5px;
}

// user-nav
.user-nav {
  z-index: 1;
  padding-top: 2px;
  padding-bottom: 3px;
  ft-user-nav {
    display: flex;
    flex-flow: column;
  }
  a {
    padding: 0;
  }
}
