// Variables
$primary: rgba(41,185,11,1);
$secondary: rgba(12,0,254,1);
$tertiary: rgba(134,54,8,1);

::-webkit-scrollbar {
    display: none;
}
.pointer {
  cursor: pointer;
}
.shadow {
  box-shadow: 0px 0px 5px 0px black;
}
body {
  margin: 5px;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  font-variant: small-caps;
  font-family: Tahoma;
}
a, a * {
  text-decoration: none;
  color: inherit;
}
.header {
  height: 45px;
  width: 100vw;
  margin-top: -5px;
  margin-left: -5px;
  background: $primary;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  a, p {
    padding: 10px;
  }
  .signin {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 45px;
    border: none;
    input, button {
      margin: 0;
      padding: 0;
      height: 40px;
      width: 175px;
      border: none;
      border-bottom: 1px solid grey;
    }
    input {
      padding: 5px;
    }
    button {
      width: 190px;
      margin-right: -5px;
      border: none;
    }
  }
  .signin-button:active {
    background: rgba(0,0,0,0.1);
    z-index: -1;
  }
}
#map {
  opacity: 0.87;
  height: 25%;
  width: 100vw;
  margin-left: -5px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 5px 0px black;
}
.market-list {
  // background: blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 60%;
  overflow-x: scroll;
  .market {
    // background: green;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
    box-shadow: 0px 0px 1px 0px grey;
    margin: 3px;
    overflow-x: scroll;
    .market-details {
      padding: 5px;
      font-size: 0.8em;
    }
  }
}
.csa {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .csa-title {
    width: 100%;
  }
}
.csa-form {
  width: 40%;
}
.csa-description {
  width: 40%;
}
.content {
  display: flex;
  justify-content: center;
}

// partials/farm/:id
.farm {
  width: 100%;
  // background: red;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  .farm-title {
    width: 100%;
    text-align: center;
  }
  .farm-description, .farm-details {
    width: 45%;
    .farm-phone, .farm-email, .farm-address {
      display: flex;
      align-items: center;
      img {
        padding-right: 5px;
      }
    }
  }
}
