::-webkit-scrollbar {
  display: none; }

.pointer {
  cursor: pointer; }

.shadow {
  box-shadow: 0px 0px 5px 0px black; }

.success-message {
  color: green; }

.error {
  color: red; }

button {
  font-weight: 900;
  background: #3f51b5;
  color: #ffc107;
  border: none;
  border-radius: 3px;
  font-variant: small-caps;
  cursor: pointer; }

body {
  margin: 0;
  padding: 0;
  height: 92vh;
  overflow-x: hidden;
  font-variant: small-caps;
  font-family: "Catamaran", sans-serif; }

a, a * {
  text-decoration: none;
  color: inherit; }

.header {
  margin: 0;
  padding: 0;
  height: 185px;
  width: 100vw;
  color: black;
  font-family: "Catamaran", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 3;
  font-size: 1em; }
  .header a, .header p {
    padding: 10px; }
  .header .top-nav {
    font-size: 1em; }
  .header .header-title {
    margin: 0;
    padding: 0;
    font-size: 5em;
    color: #ffc107;
    width: 100%;
    text-align: center; }
    .header .header-title a {
      text-align: center; }
  .header .header-row2 {
    margin: 0;
    padding: 0;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; }
  .header .user-dropdown {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    font-size: 1.5em; }
    .header .user-dropdown p {
      margin: 0;
      padding: 0; }
  .header .signin, .header .signup {
    border: 1px solid black;
    display: flex;
    color: black;
    flex-direction: column;
    position: absolute;
    right: 110px;
    top: 185px;
    z-index: 1;
    background: white;
    width: 185px;
    text-align: center;
    font-size: 1.2em; }
    .header .signin input, .header .signin button, .header .signup input, .header .signup button {
      margin: 0;
      padding: 0;
      z-index: 0;
      height: 40px;
      width: 200px;
      border: none;
      border-bottom: 1px solid grey; }
    .header .signin input, .header .signup input {
      padding: 5px; }
    .header .signin button, .header .signup button {
      width: 210px;
      border: none;
      border-radius: 0;
      font-variant: small-caps; }
    .header .signin .radio-option, .header .signup .radio-option {
      width: 210px;
      display: flex;
      align-items: center;
      background: white; }
      .header .signin .radio-option input, .header .signup .radio-option input {
        width: 10%;
        margin-left: 10px;
        margin-right: 5px; }
      .header .signin .radio-option label, .header .signup .radio-option label {
        width: 75%; }
  .header .user-box .pointer:active {
    background: rgba(0, 0, 0, 0.1); }
  .header .user-box {
    padding: 0;
    margin: 0;
    font-size: 0.7em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .header .user-box p {
      padding-left: 15px; }

.content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  min-width: 730px; }

.home {
  height: 76vh;
  width: 100%;
  background: url("../images/originals/market_flowers.JPG");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .home .home-boxes {
    margin-top: 10%;
    margin-bottom: 50px;
    width: 85%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
  .home .home-box {
    width: 30%;
    min-height: 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 3px; }
  .home .home-box-title {
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    .home .home-box-title img {
      padding-right: 10px;
      height: 3em; }
  .home p {
    padding: 5px;
    text-align: center; }
  .home aside {
    display: flex;
    justify-content: center; }
    .home aside button {
      height: 55px;
      width: 253px;
      font-size: 1.7em;
      font-family: "Catamaran", sans-serif;
      margin-top: 25px; }

.angular-google-map-container {
  display: block;
  opacity: 0.87;
  height: 250px;
  width: 100%;
  box-shadow: 0px 0px 5px 0px black;
  z-index: 0; }

.market-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 60%;
  overflow-x: scroll; }
  .market-list .market {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
    box-shadow: 0px 0px 1px 0px grey;
    margin: 3px;
    overflow-x: scroll; }
    .market-list .market .market-details {
      padding: 5px;
      font-size: 0.8em; }

.csa {
  padding: 5px;
  background: url("../images/originals/market_greens.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 76vh; }
  .csa * {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0; }
  .csa .csa-title {
    width: 100%; }

.csa-form {
  width: 40%; }

.csa-description {
  margin-top: 45px;
  padding: 5px;
  height: 305px;
  text-align: justify;
  width: 40%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  font-size: 0.9em; }
  .csa-description h3 {
    font-weight: 900; }

.farm-search {
  width: 100%;
  background: url("../images/originals/market_eggplant2.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 30px; }
  .farm-search .wrap {
    position: relative;
    width: 45%;
    min-width: 400px;
    height: 0%;
    background: red; }
    .farm-search .wrap .nearby-farm {
      padding: 15px;
      margin: 15px;
      padding-top: 0;
      padding-bottom: 0;
      min-width: 400px;
      border: 1px solid black;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      background: rgba(255, 255, 255, 0.95); }
      .farm-search .wrap .nearby-farm * {
        padding: 0;
        margin: 0; }
      .farm-search .wrap .nearby-farm .nearby-farm-title {
        padding: 0;
        margin: 0;
        color: #ffc107;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em; }
      .farm-search .wrap .nearby-farm img {
        height: 75px;
        padding-top: 15px; }
      .farm-search .wrap .nearby-farm .nearby-farm-available {
        display: flex;
        flex-flow: row nowrap;
        align-items: center; }
        .farm-search .wrap .nearby-farm .nearby-farm-available p:not(:first-child) {
          padding-left: 5px; }
    .farm-search .wrap .zip-search {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin: 15px;
      padding: 5px;
      background: rgba(255, 255, 255, 0.85); }
      .farm-search .wrap .zip-search ui-gmap-google-map {
        margin: 0;
        padding: 0;
        width: 95%; }
      .farm-search .wrap .zip-search div {
        padding: 5px;
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center; }
        .farm-search .wrap .zip-search div input {
          width: 20%; }

.farm-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  background: red;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .farm-container .farm-title {
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.9); }

.back-button {
  width: 100%;
  display: inline-block;
  color: #ffc107;
  margin: 15px;
  margin-left: 85px; }

.farm-details, .farm-dynamic {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  height: 0%; }

.farm {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap; }
  .farm .farm-dynamic {
    margin-left: 75px;
    padding: 5px;
    width: 20%;
    height: 0%; }
    .farm .farm-dynamic .farm-csa {
      display: flex;
      flex-flow: column nowrap; }
      .farm .farm-dynamic .farm-csa * {
        padding: 0;
        margin: 0; }
      .farm .farm-dynamic .farm-csa .farm-csa-title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around; }
        .farm .farm-dynamic .farm-csa .farm-csa-title button {
          height: 20px; }
        .farm .farm-dynamic .farm-csa .farm-csa-title button, .farm .farm-dynamic .farm-csa .farm-csa-title h3 {
          margin: 0;
          margin-top: 10px; }
  .farm .farm-details {
    margin-right: 75px;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    width: 20%; }
    .farm .farm-details img:not(.icon) {
      width: 100%;
      box-shadow: 0px 0px 3px 0px black;
      border-radius: 3px; }
    .farm .farm-details h5 {
      margin: 0;
      padding: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-items: center; }
    .farm .farm-details .icon {
      padding-left: 5px;
      padding-right: 10px;
      height: 15px;
      box-shadow: none; }
  .farm .follow-button {
    margin: 0 auto;
    margin-top: 10px;
    width: 150px; }
  .farm .farm-description, .farm .farm-details {
    width: 20%; }
    .farm .farm-description .farm-phone, .farm .farm-description .farm-email, .farm .farm-description .farm-address, .farm .farm-details .farm-phone, .farm .farm-details .farm-email, .farm .farm-details .farm-address {
      display: flex;
      align-items: center; }
      .farm .farm-description .farm-phone img, .farm .farm-description .farm-email img, .farm .farm-description .farm-address img, .farm .farm-details .farm-phone img, .farm .farm-details .farm-email img, .farm .farm-details .farm-address img {
        padding-right: 5px; }
  .farm button {
    width: 100px; }

.farm-title {
  color: #ffc107;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-size: 3em;
  margin: 0;
  margin-bottom: 25px; }

.farm-posts {
  width: 40%; }

.post {
  position: relative;
  padding: 5px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 3px; }
  .post .post-subject {
    text-align: center;
    color: #ffc107; }
  .post img {
    position: absolute;
    top: 0;
    right: 0; }

.account {
  width: 100%; }

.account-body {
  display: flex;
  justify-content: center; }

.row {
  border-bottom: 1px solid grey; }

ft-account-nav {
  width: 100%;
  display: flex;
  flex-flow: column; }
  ft-account-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0; }
    ft-account-nav ul li {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.3em;
      color: grey; }

ft-account-home {
  width: 90%; }
  ft-account-home .account-home {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    ft-account-home .account-home .account-home-main {
      display: flex;
      flex-flow: column; }
      ft-account-home .account-home .account-home-main textarea {
        height: 250px;
        width: 400px;
        margin-bottom: 25px; }
      ft-account-home .account-home .account-home-main button {
        margin-bottom: 100px; }
    ft-account-home .account-home .account-home-aside {
      padding: 5px; }
      ft-account-home .account-home .account-home-aside h6 img {
        padding-right: 5px; }
      ft-account-home .account-home .account-home-aside .account-img {
        width: 200px; }

ft-account-csa {
  margin-top: 25px;
  width: 90%;
  display: flex;
  flex-flow: column; }
  ft-account-csa .row1 {
    display: flex;
    flex-flow: row nowrap; }
    ft-account-csa .row1 .csa-metrics {
      width: 30%; }
      ft-account-csa .row1 .csa-metrics img {
        width: 100%; }
    ft-account-csa .row1 .csa-details {
      margin: 0 auto; }

.user-account-csa {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.user-csa {
  margin: 15px;
  padding: 5px; }

.user-nav {
  z-index: 1;
  padding-top: 2px;
  padding-bottom: 3px; }
  .user-nav ft-user-nav {
    display: flex;
    flex-flow: column; }
  .user-nav a {
    padding: 0; }

footer {
  position: fixed;
  background: rgba(255, 255, 255, 0);
  bottom: 0;
  left: 0;
  padding-left: 15px; }

.confirm {
  height: 300px;
  width: 300px;
  background: black;
  color: white;
  z-index: 5; }

/*# sourceMappingURL=style.css.map */
