// Variables
// $`font2`: 'Shadows Into Light Two', cursive;
$primary: rgba(63,81,181,1);
$accent: rgba(255,193,7,1);
$testBorder: 1px solid black;
$font: 'Catamaran', sans-serif;

::-webkit-scrollbar {
    display: none;
}
.pointer {
  cursor: pointer;
}
.shadow {
  box-shadow: 0px 0px 5px 0px black;
}
.success-message {
  color: green;
}
.error {
  color: red;
}
button {
  font-weight: 900;
  background: $primary;
  color: $accent;
  border: none;
  border-radius: 3px;
  font-variant: small-caps;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  height: 92vh;
  overflow-x: hidden;
  font-variant: small-caps;
  font-family: $font;
  // margin-bottom: 300px;
  // background: green;
}
a, a * {
  text-decoration: none;
  color: inherit;
}
.header {
  height: 185px;
  width: 100vw;
  color: black;
  font-family: $font;
  display: flex;
  flex-direction: column;
  z-index: 3;
  font-size: 1em;
  // padding-left: 75px;
  // padding-right: 150px;
  a, p {
    padding: 10px;
  }
  .top-nav {
    font-size: 1em;
  }
  .header-title {
    margin: 0;
    padding: 0;
    // background: blue;
    font-size: 5em;
    color: $accent;
    width: 100%;
    text-align: center;
    a {
      text-align: center;
    }
  }
  .header-row2 {
    margin: 0;
    padding: 0;
    padding-left: 80px;
    padding-right: 80px;
    // background: red;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .user-dropdown {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    font-size: 1.5em;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .signin, .signup {
    border: 1px solid black;
    display: flex;
    color: black;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 185px;
    z-index: 1;
    background: white;
    width: 185px;
    text-align: center;
    font-size: 1.2em;
    input, button {
      margin: 0;
      padding: 0;
      z-index: 0;
      height: 40px;
      width: 200px;
      border: none;
      border-bottom: 1px solid grey;
    }
    input {
      padding: 5px;
    }
    button {
      width: 185px;
      margin-right: -5px;
      border: none;
      font-variant: small-caps;
    }
    .radio-option {
      width: 100%;
      display: flex;
      align-items: center;
      background: white;
      input {
        width: 10%;
        margin-left: 10px;
        margin-right: 5px;
      }
      label {
        width: 75%;
      }
    }
  }
  .signin-box .pointer:active {
    background: rgba(0,0,0,0.1);
  }
  .signin-box {
    font-size: 0.7em;
    display: flex;
    flex-flow: column nowrap;
    padding-right: 15px;
    * {
      margin: 0;
      padding: 0;
    }
  }
}
.content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  min-width: 730px;
}

// partials/home
.home {
  height: 76vh;
  // width: 100vw;
  background: url('../images/originals/market_flowers.JPG');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  .home-boxes {
    margin-top: 5%;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .home-box {
    width: 30%;
    min-height: 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.85);
  }
  .home-box-title {
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    img {
      padding-right: 10px;
      height: 3em;
    }
  }
  p {
    padding: 5px;
    text-align: center;
  }
  aside {
    display: flex;
    justify-content: center;
    button {
      height: 55px;
      width: 253px;
      font-size: 1.7em;
      font-family: $font;
      margin-top: 25px;
    }
  }
}

.angular-google-map-container {
  display: block;
  opacity: 0.87;
  height: 250px;
  width: 100%;
  // margin-bottom: 25px;
  // margin-top: 185px;
  box-shadow: 0px 0px 5px 0px black;
  z-index: 0;
}
.market-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 60%;
  overflow-x: scroll;
  .market {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
    box-shadow: 0px 0px 1px 0px grey;
    margin: 3px;
    overflow-x: scroll;
    .market-details {
      padding: 5px;
      font-size: 0.8em;
    }
  }
}
.csa {
  padding: 5px;
  background: url("../images/originals/market_greens.JPG");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 76vh;
  * {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0;
  }
  .csa-title {
    width: 100%;
  }
}
.csa-form {
  width: 40%;
}
.csa-description {
  margin-top: 45px;
  padding: 5px;
  height: 305px;
  text-align: justify;
  width: 40%;
  background: rgba(255,255,255,0.95);
  border-radius: 3px;
  font-size: 0.9em;
  h3 {
    font-weight: 900;
  }
}

.farm-search {
  width: 100%;
  background: url('../images/originals/market_eggplant2.JPG');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-around;
  padding-left: 50px;
  .zip-search {
    position: fixed;
    right: 50px;
    background: red;
    display: flex;
    flex-flow: column;
    // justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px;
    background: rgba(255,255,255,0.85);
    width: 350px;
    ui-gmap-google-map {
      width: 95%;
      margin: 10px;

    }
    div {
      padding: 5px;
      width: 100%;
      // display: flex;
      flex-flow: row;
      justify-content: center;
      label, input {
        width: 98%;
        // background: green;
      }
    }
  }
  .wrap {
    position: relative;
    .nearby-farm {
      min-width: 500px;
      padding: 15px;
      margin: 15px;
      border: 1px solid black;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      background: rgba(255,255,255,0.95);
      * {
        padding: 0;
        margin: 0;
      }
      .nearby-farm-title {
        color: $accent;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
      }
      img {
        height: 75px;
      }
      .nearby-farm-available {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        p:not(:first-child) {
          padding-left: 5px;
        }
      }
    }
  }
}

// partials/farm/:id
.farm-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .farm-title {
    margin-bottom: 0;
    background: rgba(255,255,255,0.9);
  }
}
.back-button {
  width: 100%;
  display: inline-block;
  color: $accent;
  margin: 15px;
  margin-left: 85px;
}
.farm-details, .farm-dynamic {
  background: rgba(255,255,255,0.95);
  border-radius: 3px;
}
.farm {
  width: 100%;
  margin-bottom: 52vh;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  .farm-dynamic {
    margin-left: 75px;
    padding: 5px;
    width: 20%;
    height: auto;
    // background: red;
    .farm-csa {
      display: flex;
      flex-flow: column nowrap;
      * {
        padding: 0;
        margin: 0;
      }
      .farm-csa-title {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        button {
          height: 20px;
        }
        button, h3 {
          margin: 0;
          margin-top: 10px;
        }
      }
    }
  }
  .farm-details {
    margin-right: 75px;
    padding: 5px;
    // background: blue;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    width: 20%;
    img:not(.icon) {
      width: 100%;
      box-shadow: 0px 0px 3px 0px black;
      border-radius: 3px;
    }
    h5 {
      margin: 0;
      padding: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
    }
    .icon {
      padding-left: 5px;
      padding-right: 10px;
      height: 15px;
      box-shadow: none;
    }
  }
  .follow-button {
    margin: 0 auto;
    margin-top: 10px;
    width: 150px;
  }
  .farm-description, .farm-details {
    width: 20%;
    .farm-phone, .farm-email, .farm-address {
      display: flex;
      align-items: center;
      img {
        padding-right: 5px;
      }
    }
  }
  button {
    width: 100px;
  }
}
.farm-title {
  color: $accent;
  text-align: center;
  font-family: $font;
  font-size: 3em;
  margin: 0;
  margin-bottom: 25px;
}
.farm-posts {
  width: 40%;
}
.post {
  position: relative;
  padding: 5px;
  margin-bottom: 15px;
  background: rgba(255,255,255,0.95);
  border-radius: 3px;
  .post-subject {
    text-align: center;
    color: $accent;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// account page
.account {
  width: 100%;
}
.account-body {
  display: flex;
  justify-content: center;
}
.row {
  border-bottom: 1px solid grey;
}
ft-account-nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.3em;
      color: grey;
    }
  }
}
ft-account-home {
  width: 90%;
  .account-home {
    display: flex;
    flex-flow: row wrap;
    // align-items: center;
    justify-content: space-around;
    .account-home-main {
      display: flex;
      flex-flow: column;
      textarea {
        height: 250px;
        width: 400px;
        margin-bottom: 25px;
      }
      button {
        margin-bottom: 100px;
      }
    }
    .account-home-aside {
      padding: 5px;
      h6 img {
        padding-right: 5px;
      }
      .account-img {
        width: 200px;
      }
    }
  }
}
ft-account-csa {
  margin-top: 25px;
  width: 90%;
  display: flex;
  flex-flow: column;
  .row1 {
    display: flex;
    flex-flow: row nowrap;
    .csa-metrics {
      width: 30%;
      img {
        width: 100%;
      }
    }
    .csa-details {
      margin: 0 auto;
    }
  }
}
.user-account-csa {
  // background: red;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.user-csa {
  // background: blue;
  margin: 15px;
  padding: 5px;
}

// user-nav
.user-nav {
  z-index: 1;
  padding-top: 2px;
  padding-bottom: 3px;
  ft-user-nav {
    display: flex;
    flex-flow: column;
  }
  a {
    padding: 0;
  }
}

// CONFIRM //
.confirm {
  height: 300px;
  width: 300px;
  background: black;
  color: white;
  z-index: 5;
}

//  {
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	right: 0;
// 	left: 0;
// }
