::-webkit-scrollbar {
    display: none;
}
.pointer {
  cursor: pointer;
}
.shadow {
  box-shadow: 0px 0px 5px 0px black;
}
body {
  margin: 5px;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  // border: 1px solid black;
}
a, a * {
  text-decoration: none;
  color: inherit;
}
.header {
  height: 45px;
  width: 100vw;
  margin-top: -5px;
  margin-left: -5px;
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  a, p {
    padding: 10px;
  }
  .signin {
    background: orange;
    display: flex;
    flex-direction: column;
    // width: 175px;
    // height: 100px;
    position: absolute;
    right: 5px;
    top: 50px;
    input, button {
      margin: 0;
      padding: 0;
      height: 40px;
      width: 175px;
    }
  }
}
.content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 90%;
  border: 1px solid black;
  // background: yellow;
}
#map {
  // background: orange;
  opacity: 0.87;
  height: 40%;
  width: 100vw;
  margin-left: -5px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 5px 0px black;
}
.market-list {
  // background: blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  overflow-x: scroll;
  .market {
    display: flex;
    align-items: center;
    width: 30%;
    box-shadow: 0px 0px 1px 0px black;
    margin: 3px;
  }
}
