<!-- user is a farmer -->
<div class="account-home" ng-show="user.isFarmer">
  <div class="account-home-main">
    <h1>Send Customers a message!</h1>
    <select name="customers" id="customers" ng-model="view.message.sendTo">
      <option value="all">All Customers</option>
      <option ng-repeat="customer in user.farm.csa.customers" value="{{ customer.email }}">{{ customer.username }} ({{ customer.email }})</option>
    </select>
    <label for="subject">Subject:</label>
    <input type="text" name="subject" ng-model="view.message.subject">
    <textarea ng-model="view.message.body"></textarea>
    <button ng-click="view.sendMessage(user.email,view.message.sendTo,view.message.subject,view.message.body)">Send</button>

  </div>
  <aside class="account-home-aside">
    <h3>Your Farm <a href="">(edit)</a></h3>
    <h4>{{ user.farm.name }}</h4>
    <h6><img ng-src="../images/icons/map_icon.svg" style="height: 1.2em;"> {{ user.farm.address }}</h6>
    <h6><img ng-src="../images/icons/phone_icon.svg" style="height: 1.2em;"> {{ user.farm.contact_phone }}</h6>
    <h6><img ng-src="../images/icons/mail_icon_black.svg" style="height: 1.2em;"> {{ user.farm.contact_email }}</h6>
  </aside>
</div>

<!-- user is NOT a farmer -->
<div class="account-home" ng-show="!user.isFarmer">
  <div class="account-home-main">
    <h1>Check your messages!</h1>
    <h6>do message stuff</h6>

  </div>
  <aside class="account-home-aside">
    <h3>Farms You Follow</h3>
    <div class="no-follows" ng-show="!user.follows.farms">
      <a href="/farms">Find farms near you!</a>
      <p>Follow farms to recieve email updates</p><p>directly from your farmers</p>
    </div>
    <h4 ng-repeat="farm in user.follows.farms">{{ user.farm.name }}</h4>
  </aside>
</div>
