<!-- user is a farmer -->
<div class="account-home" ng-show="user.isFarmer">
  <div class="account-home-main">
    <h1>Message Center</h1>
    <label for="customers">To: </label>
    <select name="customers" id="customers" ng-model="view.message.sendTo" ng-init="view.message.sendTo = 'all'">
      <option value="all">All Customers</option>
      <option ng-repeat="customer in user.farm.csa.customers" value="{{ customer.email }}">{{ customer.username }} ({{ customer.email }})</option>
    </select>
    <label for="subject">Subject:</label>
    <input type="text" name="subject" ng-model="view.message.subject">
    <label for="body">Body: </label>
    <textarea name="body" ng-model="view.message.body"></textarea>
    <label for="post">Post this Message on my Farm's home page</label>
    <input type="checkbox" ng-model="view.message.post"></input>

    <p class="success message" ng-show="message.success">{{ message.success }}</p>
    <p class="error message" ng-show="message.error">{{ message.error }}</p>
    
    <button ng-click="view.sendMessage(user.email,view.message.sendTo,view.message.subject,view.message.body,view.message.post)">Send</button>
  </div>
  <aside class="account-home-aside shadow">
    <h3>Your Farm <a href="">(edit)</a></h3>
    <img ng-src="{{user.farm.image_url}}" class="account-img">
    <h2><a href="/farm/details/{{ user.farm.id }}">{{ user.farm.name }}</a></h2>
    <h6><a href="/farm/details/{{ user.farm.id }}">See your farm's profile as users do</a></h6>
    <h6><img ng-src="../images/icons/map_icon.svg" style="height: 1.2em;"> {{ user.farm.address }}</h6>
    <h6><img ng-src="../images/icons/phone_icon.svg" style="height: 1.2em;"> {{ user.farm.contact_phone }}</h6>
    <h6><img ng-src="../images/icons/mail_icon_black.svg" style="height: 1.2em;"> {{ user.farm.contact_email }}</h6>
  </aside>
</div>

<!-- user is NOT a farmer -->
<div class="account-home" ng-show="!user.isFarmer">
  <div class="account-home-main">
    <h1>This is the main section</h1>
  </div>
  <aside class="account-home-aside">
    <h3>Farms You Follow</h3>
    <div class="no-follows" ng-show="!user.follows.farms">
      <a href="/farms">Find farms near you!</a>
      <p>Follow farms to recieve email updates</p><p>directly from your farmers</p>
    </div>
    <h4 ng-repeat="farm in user.follows.farms">{{ user.farm.name }}</h4>
  </aside>
</div>
