<!-- user is a farmer -->
<div class="row row1" ng-show="user.isFarmer">
  <div class="csa-metrics">
    <img ng-src="../../images/graph.jpg">
    <p style="text-align: center;">Placeholder for D3 visualizations</p>
  </div>
  <table class="csa-details">
    <th>{{ user.farm.csa.csa_name}}</th>
    <th>edit</th>
    <tr>
      <td>Pickup Location</td>
      <td>{{ user.farm.csa.pickup_location}}</td>
    </tr>
    <tr>
      <td>Pickup Times</td>
      <td>{{ user.farm.csa.pickup_day }}: {{ user.farm.csa.pickup_time_start }} - {{ user.farm.csa.pickup_time_end}}</td>
    </tr>
    <tr>
      <td>Schedule</td>
      <td>{{ user.farm.csa.start_date | date }} - {{ user.farm.csa.end_date | date }}</td>
    </tr>
    <tr>
      <td>Items</td>
      <td>{{ user.farm.csa.products }}</td>
    </tr>
  </table>
</div>


<!-- user is NOT farmer -->
<div class="user-account-csa row row1" ng-show="!user.isFarmer">
  <!-- <h5>Your CSAs</h5> -->
  <div ng-repeat="csa in user.csas" class="user-csa">
    <p><a href="/farm/details/{{csa.farm_id}}">{{ csa.csa_name }}</a></p>
    <p>{{csa.products}}</p>
    <p>Pickup Time/Day/Location details</p>
    <!-- <aside class="csa-products">
      <p ng-repeat="product in csa.products">{{product}}</p>
    </aside> -->
  </div>
</div>
