<!-- user is farmer -->
<ul ng-show="user.isFarmer">
  <li ng-click="toggle('account_home')" class="pointer">Your Farm</li>
  <li ng-click="toggle('account_csa')" class="pointer">CSA</li>
  <li ng-click="toggle('account_settings')" class="pointer">Account Settings</li>
</ul>

<!-- user is NOT farmer -->
<ul ng-show="!user.isFarmer">
  <li ng-click="toggle('account_home')" class="pointer">Your Farms</li>
  <li ng-click="toggle('account_csa')" class="pointer">CSA</li>
  <li ng-click="toggle('account_settings')" class="pointer">Account Settings</li>
</ul>
