<div class="csa">
  <div class="headline-image"></div>
  <div class="csa-description">
  <!-- <div class="csa-description width-wrap"> TODO -->
    <h3>A CSA (Community Supported Agriculture) is a partnership of mutual commitment between a farm and a community of supporters which provides a direct link between the production and consumption of food. Supporters cover a farm's yearly operating budget by purchasing a share of the season's harvest. CSA members make a commitment to support the farm throughout the season, and assume the costs, risks and bounty of growing food along with the farmer or grower.</h3>
    <p>Members help pay for seeds, water, equipment maintenance, labor, etc. In return, the farm provides, to the best of its ability, a healthy supply of seasonal fresh produce throughout the growing season. Becoming a member creates a responsible relationship between people and the food they eat, the land on which it is grown and those who grow it.</p>
    <p>This mutually supportive relationship between local farmers, growers and community members helps create an economically stable farm operation in which members are assured the highest quality produce, often at below retail prices. In return, farmers and growers are guaranteed a reliable market for a diverse selection of crops.</p>
  </div>
</div>
