<div class="curtain">
  <h1 class="curtain-title"><div class='title-wrap'><h1>Farmer's</h1><h1>Table</h1></div></h1>
  <p class="curtain-intro">Connect with nearby farms, explore available CSAs, and help empower your local food economy!</p>
  <div class="curtain-body">
    <br class="curtain-break">
    <div class="curtain-users">
      <form class="curtain-signup-form">
        <!-- <label for="firstname">First Name</label> -->
        <input type="text" placeholder="First Name">
        <!-- <label for="lastname">Last Name</label> -->
        <input type="text" placeholder="Last Name">
        <!-- <label for="email">Email Address</label> -->
        <input type="text" placeholder="Email">
        <!-- <label for="username">Choose a username</label> -->
        <input type="text" placeholder="Username">
        <!-- <label for="password">Choose a password</label> -->
        <input type="password" placeholder="password">
        <!-- <label for="password-confirm">Confirm password</label> -->
        <input type="password" placeholder="password">
        <label for="is-farmer">Are you a farmer?</label>
        <input type="radio" name="is-farmer"><label for="is-farmer">Yes</label>
        <input type="radio" name="is-farmer"><label for="is-farmer">No</label>
        <input type="submit" value="Next">
      </form>
      <div class="curtain-signin">
        <p>Already have an account?</p>
        <p>Sign In!</p>
      </div>
    </div>
  </div>
</div>
