<div ng-controller="FarmsController">
  <div class="farm" ng-repeat="farm in farm track by $index">
    <h1 ng-click="view.getLatLng(farm.address)" class="pointer">{{ farm.name }}</h1>
    <a href="/#/csa/{{ farm.id }}/{{ farm.csa_id }}"><button>Join the {{ farm.name }} CSA!</button></a>
    <h6>CSA ID: {{ farm.csa_id }}</h6>
    <img ng-src="{{ farm.image_url }}" style="height: 200px;">
    <h2>{{ farm.address }}</h2>
    <h3>Markets: </h3>
    <li ng-repeat="market in farm.markets track by $index" ng-click="view.log(market.id)" class="pointer">{{ market.name }}</li>
    <h3>Products: </h3>
    <li ng-repeat="product in farm.products">{{ product }}</li>
    <ft-schedule></ft-schedule>
  </div>
</div>
