<!-- middle-title section -->
<div class="header-title">
  <a href="/home" style="font-weight: 900;">Farmer's Table</a>
</div>

<div class="header-row2">
  <!-- left section -->
  <div class='top-nav'>
    <a href="/farms">Find Nearby Farms</a>
    <a href="/csa">What is CSA?</a>
    <!-- <a href="/markets">Markets</a> -->
  </div>

  <!-- right section -->
  <div class="user-dropdown">
    <div class='user-box' ng-show="!view.user">
      <p ng-click="view.toggle('signin')" class="pointer" id="signin-button">Sign In</p>
      <p>or</p>
      <p ng-click="view.toggle('signup')" class="pointer" id="signin-button">Sign Up</p>
    </div>
    <p ng-click="view.toggle('user_nav')" class="pointer username-box" style="display: flex; align-items: center;" id='loggedinusername'>{{ view.user.username }}<img ng-show="view.user" ng-src="../images/icons/dropdown.svg" style="height: 1.2em;"></p>
  </div>
  <form class="signin" ng-show="forms.signin">
    <input type="text" ng-model="view.signin.username" placeholder="username/email" id="username" autofocus>
    <input type="password" ng-model="view.signin.password" placeholder="password" id="password">
    <button ng-click="view.toggle('signin');view.signin(view.signin.username,view.signin.password)" id="submit" style="border-radius: 0;">Sign In</button>
  </form>
  <form class="signup" ng-show="forms.signup">
    <input type="text" ng-model="view.signup.email" placeholder="Enter your email address" autofocus>
    <input type="text" ng-model="view.signup.username" placeholder="Choose a username">
    <input type="password" ng-model="view.signup.password" placeholder="Choose password">
    <input type="password" ng-model="view.signup.passwordConfirm" placeholder="Confirm password">
    <aside class="radio-option">
      <input type="radio" name="is-farmer" ng-model="view.signup.isFarmer" value="true" checked>
      <label for="is-farmer">I'm a farmer</label>
    </aside>
    <!-- <aside class="radio-option">
      <input type="radio" name="is-farmer" ng-model="view.signup.isNotFarmer" value="false">
      <label for="is-farmer">I'm a consumer</label>
    </aside> -->
    <button ng-click="view.signup(view.signup.email,view.signup.username,view.signup.password,view.signup.passwordConfirm,view.signup.isFarmer,view.signup.isNotFarmer);view.toggle('signup')">Sign Up</button>
  </form>
  <div class="signin user-nav" ng-show="forms.user_nav">
    <ft-user-nav></ft-user-nav>
  </div>
</div>
