<div>
  <a href="/" style="font-weight: 900;">Farmer's Table</a>
  <a href="/farms/1">Farms(id: 1)</a>
  <a href="/csa/1/1">CSA(id: 1)</a>
  <a href="/markets">Markets</a>
  <a href="/users/1">Users(id: 1)</a>
</div>
<div class="signin-button">
  <p ng-click="view.toggle('signin')" ng-show="!view.user" class="pointer">Sign In</p>
  <p ng-click="view.signout()" ng-show="view.user" class="pointer">{{ view.user.username }}</p>
</div>
<div class="signin" ng-show="forms.signin">
  <input type="text" ng-model="view.username" placeholder="username/email">
  <input type="text" ng-model="view.password" placeholder="password">
  <button ng-click="view.toggle('signin');view.signin(view.username,view.password)">Submit</button>
</div>
