<div class="home">
  <div class='home-boxes'>
    <section class="home-box shadow discover">
      <div class="home-box-title"><img ng-src="../images/icons/globe_black.svg" class="icon"><h1>Discover</h1></div>
      <p>Discover nearby farms and explore available CSAs, even sign up for CSAs online</p>
    </section>
    <section class="home-box shadow connect">
      <div class="home-box-title"><img ng-src="../images/icons/connect_black.svg" class="icon"><h1>Connect</h1></div>
      <p>Follow farms you enjoy and receive direct communication about farm news, offers, and updates</p>
    </section>
    <section class="home-box shadow enjoy">
      <div class="home-box-title"><img ng-src="../images/icons/breakfast_black.svg" class="icon"><h1>Enjoy</h1></div>
      <p>Enjoy your new connections to your food economy and the delicious food you helped support</p>
    </section>
  </div>
  <aside>
    <!-- <button class="shadow pointer get-started"><a href="/farms">Get Started<img src="./images/icons/right_arrow_gold.svg" class="home-icon"></a></button> -->
    <button class="shadow pointer"><a href="/farms">Get Started</a></button>
  </aside>
</div>
