<div class="home">
  <div class="headline-image"></div>
  <div class='home-boxes width-wrap'>
    <section class="home-box x_shadow discover">
      <div class="home-box-title"><img ng-src="../images/icons/globe_black.svg" class="icon"><h1>Discover</h1></div>
      <p>Discover nearby farms and explore available CSAs, even sign up for CSAs online</p>
    </section>
    <section class="home-box x_shadow connect">
      <div class="home-box-title"><img ng-src="../images/icons/connect_black.svg" class="icon"><h1>Connect</h1></div>
      <p>Follow farms you enjoy and receive direct communication about farm news, offers, and updates</p>
    </section>
    <section class="home-box x_shadow enjoy">
      <div class="home-box-title"><img ng-src="../images/icons/breakfast_black.svg" class="icon"><h1>Enjoy</h1></div>
      <p>Enjoy your new connections to your food economy and the delicious food you helped support</p>
    </section>
    <section class="mobile-responsive shadow">
      <a href="/farms"><button>Get Started</button></a>
    </section>
    <section class="mobile-responsive placeholder"></section>
  </div>
  <button class="shadow pointer"><a href="/farms">Get Started</a></button>
</div>
