<div ng-controller="FarmsController" class="farm-search">

  <div class="wrap">
    <div ng-repeat="farm in farms" class="nearby-farm shadow">
      <div class="nearby-farm-title">
        <h1><a href="/farm/details/{{ farm.id }}">{{ farm.name }}</a></h1>
        <img ng-src="{{farm.image_url}}">
      </div>
      <div class="nearby-farm-quicklook">
        <div class="nearby-farm-available">
          <p>CSA Available?</p>
          <p ng-show="farm.csa_id !== null" style="color: green;">YES</p>
          <p ng-show="farm.csa_id === null" style="color: red;">NO</p>
        </div>
        <p>{{ farm.address }}</p>
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="zip-search shadow">
      <button ng-click="view.toggle('zip_search')">Search by zip code</button>
      <div ng-show='forms.zip_search'>
        <label for="zip">Zip Code: </label>
        <input type="text" ng-model="view.zipCode" placeholder="12345" autofocus>
      </div>
      <button ng-click="view.zipDecode(view.zipCode)" ng-show="forms.zip_search">Search</button>
      <div id="map">
      </div>
    </div>
  </div>

</div>

<script src="./javascripts/googlemaps.js" charset="utf-8" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhtVdRd8z-_OzSEdxwsym11zRxGygotFc&callback=initMap" async defer></script>
