<!-- <div class="farm-container" ng-controller="FarmsController" style="background: url({{farm.image_url}});background-size: cover;background-position: center;background-attachment: fixed;"> -->
<div class="farm-container" ng-controller="FarmsController">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control">
    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
    </ui-gmap-marker>
  </ui-gmap-google-map>
  <div class="back-button">
    <a href="/farms"><button class="shadow pointer">Back to Farms</button></a>
  </div>
  <h1 ng-click="view.centerMap(farm.address)" class="farm-title pointer shadow">{{ farm.name }}</h1>
  <div class="farm">
    <div class="farm-dynamic shadow">
      <p class="success-message" ng-show="message.success">{{ message.success }}</p>
      <p class="error" ng-show="message.error">{{ message.error }}</p>
      <!-- show if this farm's CSA exists -->
      <div class="farm-csa" ng-show="farm.csa">
        <!-- <div>
        </div> -->
        <h3 class="farm-csa-title">Current CSA: </h3>
        <h3 class="farm-csa-title">{{farm.csa.csa_name}}</h3>
        <button class="pointer shadow" ng-click="view.csaSignup(view.user,farm.csa)" style="margin: 10px auto; height: 25px;">Sign up</button>
        <h5>Starts: {{farm.csa.start_date | date}}</h5>
        <h5>Ends: {{farm.csa.end_date | date}}</h5>
        <li class="product-list" ng-repeat="product in farm.csa.products track by $index">{{product}}</li>
      </div>
      <!-- show if this farm's CSA does NOT exist -->
      <div class="farm-csa" ng-show="!farm.csa">
        <h4 style="text-align: center;">This farm does not currently offer any CSAs</h4>
        <p><a href="mailto:{{ farm.contact_email }}" style="text-decoration: underline;">Email the farm</a> to ask what options might be available!</p>
      </div>
    </div>

    <div class="farm-posts">
      <div class="post shadow" ng-repeat="post in farm.posts">
        <img ng-src="./images/icons/delete_black.svg" ng-show="view.editMode" class="pointer" ng-click="view.deletePost(post.id)">
        <h2 class="post-subject">{{ post.subject }}</h2>
        <p>{{ post.body }}</p>
      </div>
    </div>

    <div class="farm-details shadow">
      <img ng-src="{{ farm.image_url }}">
      <button class="follow-button shadow pointer">+ Follow this Farm</button>
      <h5><img class="icon" ng-src="../images/icons/phone_icon.svg">{{farm.contact_phone}}</h5>
      <h5><img class="icon" ng-src="../images/icons/mail_icon_black.svg"><a href="mailto:{{farm.contact_email}}" class="pointer">{{farm.contact_email}}</h5>
      <h5><img class="icon" ng-src="../images/icons/globe_black.svg">{{farm.address}}</a></h5>
    </div>

  </div>
</div>
