<div ng-controller="FarmsController" class="farm-search">
  <button ng-click="view.toggle('zip_search')">Search by zip code</button>
  <div class="zip-search" ng-show='forms.zip_search'>
    <label for="zip">Zip Code</label>
    <input type="number" ng-model="view.zipCode" placeholder="12345" autofocus>
    <button ng-click="view.zipDecode(view.zipCode)">Search</button>
  </div>
  <div ng-repeat="farm in farms" class="nearby-farm">
    <div class="nearby-farm-title">
      <h1><a href="/farm/details/{{ farm.id }}">{{ farm.name }}</a></h1>
      <div>
        <h6>CSA Available?</h6>
        <p ng-show="farm.csa_id !== null">YES</p>
        <p ng-show="farm.csa_id === null">NO</p>
      </div>
      <img ng-src="{{farm.image_url}}">
    </div>
    <div class="nearby-farm-quicklook">
      <p>{{ farm.address }}</p>
    </div>
  </div>
</div>
